@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/** MENU ENVIOS-SUPERIOR**/
#inicio .fondoEnvios ,#invierno1 .fondoEnvios{
    background-color: black;
    margin: 0px;
}

.header-envios__text {
    text-align: center;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 0.9375rem;
    margin: 0px;
}
.header-envios__text a{
    text-decoration: none;
    color: white;
}
.nav-link{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.navbar-container{
    margin: 0px 40px 0px 40px;
    /* Puedes ajustar este valor según sea necesario */

}
div.container-fluid{
    margin-left: 40px;
    padding: 20px 0 20px;
}
.navbar-collapse{
    margin-right: 40px;
}
#secondNav .navbar {
    padding: 20px 0 20px 0px;
}
#mainNav.hidden {
    display: none;
}
#mainNav {
    padding: 0px;
}
#secondNav.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ajusta el índice z si es necesario */
}
#secondNav {
    top: 50px;
    padding: 0px;
    background-color: white;
    color: black;
    
}

#secondNav a{
    color: black;
}

/* CARROUSEL */
.carousel-item img{
    height: 400px;
    margin-top: 40px;
}
.carousel-caption {
    position: absolute;
    bottom: 150px; /* Ajusta esta propiedad para cambiar la distancia desde la parte inferior */
    left: 50%; /* Esto centrará horizontalmente el texto */
    transform: translateX(-100%); /* Esto lo desplaza hacia la izquierda la mitad de su ancho, centrando el texto */
    text-align: center; /* Alinea el texto al centro */
    color: white; /* Cambia el color del texto si es necesario */
    /* Cambia el color de fondo del texto si es necesario */
    /* Ajusta el relleno alrededor del texto si es necesario */
}
.carousel-caption p{
    color: white;
    font-size: 25px;
}
#inicio .imgProductos img{
    height: 200px;
    width: 250px;   
    margin: 10px;
}
#inicio .descripcionProducto{
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -0.21px;
    margin: 0px 0px 5px 0px;
}
#inicio .precioProducto{
    font-weight: bold;
    font-size: 0.95rem;
    line-height: 1;
    margin: 0px;
}
#inicio .descripcionAdicional{
    margin-top: 2px;
    font-size: 0.75rem;
    font-weight: 400;
    justify-content: center;
}
#inicio .email-barra ,#invierno1 .email-barra{
    background-color: #333333;
}
#inicio h5 ,#invierno1 h5{
    color: white;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}
/* Productos*/
.productos {
    width: 85%;
    display: block;
}


/*footer*/
#inicio footer h5 ,#invierno1 footer h5{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.footer__top__icon {
    width: auto;
    height: 20px;
    margin: 0px 5px 5px 0px;
}
.footer_items i{
    font-size: 40px;
}